//! **************************************************************************
// Written by: Map P.20131013 on Tue Aug 30 20:46:34 2022
//! **************************************************************************

SCHEMATIC START;
TIMEGRP clk = BEL "in1_reg_0" BEL "in1_reg_1" BEL "in1_reg_2" BEL "in1_reg_3"
        BEL "in2_reg_0" BEL "in2_reg_1" BEL "in2_reg_2" BEL "in2_reg_3" BEL
        "c_in" BEL "out_0" BEL "out_1" BEL "out_2" BEL "out_3" BEL "P" BEL "G"
        BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 2.2 ns HIGH 50%;
SCHEMATIC END;

